.panel {
    color: #EEEEEE;
    background-color: #222831;
    height: 100%;
    width: 500px;
}

.panel-cabezal {
    color: #222831;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddddd;
    border-radius: 3px 3px 0 0;
    padding: 1rem 0.5rem 0.5rem 1rem;
}

.contenedor-titulo {
    margin-top: 0.5rem;
}

.panel-titulo {
    font-weight: bold;
}

.panel-cuerpo {
    background-color: #EEEEEE;
    padding: 3rem;
    overflow-x: hidden;
    flex: 1;
}

.panel-footer {
    border-radius: 0 0 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex: 1;
    background-color: #393E46;
}

.input-blue {
    border-width: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    font-size: 17px;
    height: 3rem;
}

.boton-login {
    color: #EEEEEE;
    border-radius: 3px;
    background-color: #D07132;
}

.boton-login:hover {
    background-color: #f0833a;
}

.boton-login:focus {
    outline: 2px solid #f0833a81;
    outline-offset: 2px;
}

.boton-cerrar {
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #222831;
}

.boton-cerrar:hover {
    color: #505f75;
}