<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="panel">
            <div class="panel-cabezal">
                <div class="contenedor-titulo">
                    <h3 class="panel-titulo">
                        Iniciar sesión
                    </h3>
                    <button type="button" class="boton boton-cerrar" aria-label="Close" (click)="modal.dismiss('Cross click')">×</button>
                </div>
            </div>
            <div class="panel-cuerpo">
                <div class="row">
                    <div class="col">
                        <input class="input-blue" type="text" placeholder="Nombre de usuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 20px;">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="input-blue" type="password" placeholder="Contraseña">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col">
                        <button class="boton boton-login">
                            Inciar sesión
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>