<div class="card" *ngFor="let jugador of jugadores; let i = index">
    <div class="row">
        <div class="col">
            <div class="img-contenedor">
                <img [src]="jugador.portraitUrl" alt="">
            </div>
        </div>
        <div class="col-1 d-flex justify-content-center">
            <div class="rango-contenedor">
                <h2 class="rango">#{{jugador.rango}}</h2>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <h4 class="card-title">{{jugador.nombre}}</h4>
                <pre>{{jugador.sable}}</pre>
            </div>
        </div>
        <div class="col">
            <div class="medallas-container">
                
            </div>
        </div>
    </div>
</div>