.card {
    width: 32rem !important;
    background-color: #222831;
    border-radius: 8px 8px 8px 8px !important;
    margin: 20px;
}

.img-contenedor {
    border-radius: 8px;
    max-width: 128px;
    max-height: 128px;
}

img {
    height: 105px;
    border-radius: 8px;
    max-width: 100%;
}

.rango-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}