.card {
    width: 32rem !important;
    background-color: #222831;
    border-radius: 3px 25px 25px 25px !important;
    box-shadow: 1px 1px 0px 1px #14181d;
    margin: 20px;
}

.img-contenedor {
    border-radius: 8px;
    max-width: 128px;
    max-height: 128px;
}

img {
    border-radius: 3px 5px 5px 25px;
    max-width: 100%;
}

.rango-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}