.card {
    background-color: #191E24;
    border-radius: 3px !important;
    color: #EEEEEE;
    border-style: solid;
    border: 1px solid #3f4a5a;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 8px 0px 0 0 #00ADB5;
}

img {
    border-radius: 3px;
    max-width: 100%;
    max-height: 100%;
}

.rango-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mini-bandera {
    max-width: 40px;
    max-height: 40px;
}