.navbar {
    background-color: #111418 !important;
    border-radius: 3px;
    border-style: solid;
    border: 1px solid #3f4a5a;
}

a {
    color: #EEEEEE !important;
}

li {
    padding: 3px;
}

ul li {
    margin-left: 7px;
    margin-right: 7px;
}

ul li:hover {
    border-radius: 1px;
    background-color: #282f38;
}

ul li a:focus {
    outline: 2px solid #37404d !important;
    border-radius: 3px;
}

.log-in-item {
    border: 1px solid #00ADB5;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}   

.log-in-item:hover {
    border-radius: 3px !important;
    background-color: #00ADB5 !important; 
}