/* You can add global styles to this file, and also import other style files */
*, body, html {
    font-family: 'Overpass', sans-serif !important;
}

body {
    background-color: #222831;
    color: white;
}

a {
    font-family: 'Overpass', sans-serif !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1c222b;
}

::-webkit-scrollbar-thumb {
    background: #222831;
  }