/* You can add global styles to this file, and also import other style files */
*, body, html {
    font-family: 'Overpass', sans-serif !important;
}

body {
    background-color: #222831;
    background-image: url("../src/assets/background.jpg");
    color: white;
}

a {
    font-family: 'Overpass', sans-serif !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1c222b;
}

::-webkit-scrollbar-thumb {
    background: #323c4b;
}

::placeholder {
    color: #222831;
}

.input-blue {
    color: #222831;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #3f4a5a;
}

.input-blue:focus {
    border-radius: 3px;
    outline: none;
    border: 2px solid #00ADB5 !important;
}

.input-blue:hover {
    background-color: rgb(223, 223, 223)
}

.boton {
    border: none;
    padding: 0.5rem;
}

.boton:focus {
    outline: none;
}